body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#container{
    width: 500px;
    height: 300px;
    border: 15px solid #000000;
    clear:both;
    padding: 25px;
}
#start{
    width: 100%;
    cursor: pointer;
}
#playerbox1{
    float:left;
}
#playerbox2{
    float: right;

}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 90px;
}